<div class="flex items-center justify-between p-8 h-20 w-full text-xs shadow-md bg-white">

    <div class="flex gap-4 items-center">

        <div class="w-16 h-16">
            <img src="assets/logo/logotipo.png" alt="logo">
        </div>

        <a class="py-2 px-4 rounded-sm hover:text-[#0E9549] cursor-pointer hidden md:block" [routerLink]="['./']">
            <span class="uppercase">Home</span>
        </a>

        <a class="py-2 px-4 rounded-sm hover:text-[#0E9549] cursor-pointer hidden">
            <span class="uppercase">Cursos</span>
        </a>

        <a class="py-2 px-4 rounded-sm hover:text-[#0E9549] cursor-pointer hidden md:block">
            <span class="uppercase">Editais</span>
        </a>

        <a class="py-2 px-4 rounded-sm hover:text-[#0E9549] cursor-pointer hidden md:block">
            <span class="uppercase">Contato</span>
        </a>

    </div>

    <div class="flex items-center gap-4 md:gap-12">
        
        <button class="hidden md:block group relative h-12 overflow-hidden overflow-x-hidden rounded-full bg-linear-65 from-[#65A322] to-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer">
            <span class="relative z-10">Matricule-se</span>
            <span class="absolute inset-0 overflow-hidden rounded-full">
                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
            </span>
        </button>

        <button mat-icon-button
            [matMenuTriggerFor]="actionsMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" class="bg-white!">
            <!-- Home -->
            <button mat-menu-item [routerLink]="['./']">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <!-- Editais -->
            <button mat-menu-item>
                <mat-icon>book_ribbon</mat-icon>
                <span>Editais</span>
            </button>
            <!-- Contato -->
            <button mat-menu-item>
                <mat-icon>headphones</mat-icon>
                <span>Contato</span>
            </button>
            <!-- Portal -->
            <button mat-menu-item>
                <mat-icon>school</mat-icon>
                <span>Portal Acadêmico</span>
            </button>
            <!-- Matricule-se -->
            <button class="block md:hidden mt-4 group relative w-full h-12 overflow-hidden overflow-x-hidden rounded-full bg-linear-65 from-[#65A322] to-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer">
                <span class="relative z-10">Matricule-se</span>
                <span class="absolute inset-0 overflow-hidden rounded-full">
                    <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                </span>
            </button>
        </mat-menu>
    </div>

</div>
