<section class="flex flex-col gap-8 2xl:gap-0 items-center pt-8 pb-8 pl-4 pr-4">
    <h2 class="uppercase font-extrabold font-epilogue text-blue text-2xl md:text-4xl" 
    [@fadeInDownOnEnter]="animateText" 
    (visible)="animateText = 'in'"
    appAnimateOnScroll>Nossos cursos</h2>

    <div class="w-full flex flex-row gap-8" 
        [@slideInLeftOnEnter]="animateCard" 
        (visible)="animateCard = 'in'"
        appAnimateOnScroll>
        <app-home-cursos-carousel [cursos]="cursos" class="w-full"></app-home-cursos-carousel>
    </div>
</section>