<section class="flex flex-col items-center pt-8 pb-8 px-8 lg:px-24">
    <h2 class="font-extrabold font-epilogue text-blue text-2xl md:text-4xl" 
    [@fadeInDownOnEnter]="animateText" 
    (visible)="animateText = 'in'"
    appAnimateOnScroll>Nossos cursos</h2>

    <div class="w-full flex flex-row gap-8" 
        [@slideInLeftOnEnter]="animateCard" 
        (visible)="animateCard = 'in'"
        appAnimateOnScroll>
        <app-home-cursos-carousel [cursos]="cursos" [home]="home()" class="w-full"></app-home-cursos-carousel>
    </div>
</section>