<div class="flex flex-col md:flex-row gap-28 md:gap-8 py-12 px-8 justify-center items-center text-white h-[59rem] md:h-[25rem]">

    <div class="w-32 h-32 md:w-[calc(100% / 4)]">
        <img src="assets/logo/logotipo.png" alt="logo" class="w-full h-full">
    </div>

    <div class="flex w-full md:w-[calc(100%/4)] flex-col gap-4">
        <span class="text-sm font-medium">
            Explorar
        </span>
        
        <a class="text-sm mt-4 underline">
            Contato
        </a>
        <a class="text-sm underline">
            Editais
        </a>
    </div>

    <div class="flex w-full md:w-[calc(100%/4)] flex-col gap-4">
        <span class="text-sm font-medium">
            Siga-nos
        </span>
        
        <a href="https://www.facebook.com/itspriopreto/" target="_blank" class="text-sm text-center mt-4 underline flex gap-2 items-center">
            <img src="assets/icons/icon-facebook-header.svg" alt="logo facebook" class="w-6 h-6 md:w-4 md:h-4"> Facebook
        </a>
        <a href="https://www.instagram.com/itsp_riopreto_oficial/" target="_blank" class="text-sm text-center underline flex gap-2 items-center">
            <img src="assets/icons/icon-instagram-header.svg" alt="logo instagram" class="w-6 h-6 md:w-4 md:h-4"> Instagram
        </a>
    </div>

    <div class="flex w-full md:w-[calc(100%/4)] flex-col gap-4">
        <span class="text-sm flex gap-2 items-center">
            <mat-icon class="w-6! h-6! text-[1.5rem]! material-icons-outlined">mail</mat-icon> <span class="w-[90%]">{{'itspriopreto@gmail.com'}}</span>
        </span>
        <span class="text-sm flex gap-2 items-center">
            <mat-icon class="w-6! h-6! text-[1.5rem]! material-icons-outlined">call</mat-icon> <span class="w-[90%]">(17) 98106-7771</span>
        </span>
        <span class="text-sm flex gap-2 items-center">
            <mat-icon class="w-6! h-6! text-[1.5rem]! material-icons-outlined">schedule</mat-icon> <span class="w-[90%]">Horário de Funcionamento: Segunda a Sexta, 07:00h às 22:40h</span>
        </span>
        <span class="text-sm flex gap-2 items-center">
            <mat-icon class="w-6! h-6! text-[1.5rem]! material-icons-outlined">near_me</mat-icon> <span class="w-[90%]">Av. Bady Bassitt, 4000 - Centro, São José do Rio Preto - SP, 15015-000</span> 
        </span>
    </div>

</div>
