<div class="flex flex-col gap-12 text-white font-epilogue w-full h-[81rem] md:h-[50rem] lg:h-[30rem] bg-linear-140 from-[#65A322] to-[#0E9549]">

    <div class="flex flex-col lg:flex-row w-full">
        <div class="border-r border-b pl-16 py-8 pr-8 flex gap-4 h-32 items-center w-full lg:w-[60%]">
            <div class="rounded-full border border-white h-10 w-10 flex items-center justify-center">
                <mat-icon fontSet="material-symbols-rounded" class="symbol-filled w-4! h-4! text-[1rem]!">location_on</mat-icon> 
            </div>
            <div class="flex flex-col">
                <span class="text-sm font-normal text-tertiary">Endereço:</span>
                <span class="text-md font-medium w-full">Av. Bady Bassitt, 4000 - Centro, 15015-000</span> 
            </div>
        </div>
        <div class="border-r border-b pl-16 py-8 pr-8 flex gap-4 h-32 items-center w-full lg:w-[50%]">
            <div class="rounded-full border border-white h-10 w-10 flex items-center justify-center">
                <mat-icon fontSet="material-symbols-rounded" class="symbol-filled w-4! h-4! text-[1rem]!">call</mat-icon> 
            </div>
            <div class="flex flex-col">
                <span class="text-sm font-normal text-tertiary">Telefone:</span>
                <span class="text-md font-medium w-full">(17) 98106-7771</span> 
            </div>
        </div>
        <div class="border-b pl-16 py-8 pr-8 flex gap-4 h-32 items-center w-full lg:w-[50%]">
            <div class="rounded-full border border-white h-10 w-10 flex items-center justify-center">
                <mat-icon fontSet="material-symbols-rounded" class="symbol-filled w-4! h-4! text-[1rem]!">mail</mat-icon> 
            </div>
            <div class="flex flex-col">
                <span class="text-sm font-normal text-tertiary">Email:</span>
                <span class="text-md font-medium w-full">{{'itspriopreto@gmail.com'}}</span> 
            </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row items-center gap-12 px-16 md:px-8 lg:px-32">
        <div class="w-32 h-32">
            <img src="assets/logo/logotipo.png" alt="logo" class="w-full h-full">
        </div>

        <div class="flex flex-col w-full md:w-[calc(100%/4)] h-full gap-4 md:ml-8">
            <span class="text-md font-medium">
                Explorar
            </span>
            
            <div class="flex flex-col h-28 gap-4 mt-4">
                <a class="text-md underline" [routerLink]="['./cursos']">
                    Cursos
                </a>
                <a class="text-md underline" [routerLink]="['./sobre-nos']">
                    Sobre Nós
                </a>
                <a class="text-md underline" [routerLink]="['./contato']">
                    Contato
                </a>
            </div>
        </div>
    
        <div class="flex w-full md:w-[calc(100%/4)] h-full flex-col gap-4">
            <span class="text-md font-medium">
                Siga-nos
            </span>
            
            <div class="flex flex-col h-28 gap-4 mt-4">
                <a href="https://www.facebook.com/itspriopreto/" target="_blank" class="text-md text-center underline flex gap-2 items-center">
                    <img src="assets/icons/icon-facebook-header.svg" alt="logo facebook" class="w-6 h-6 md:w-4 md:h-4"> Facebook
                </a>
                <a href="https://www.instagram.com/itsp_riopreto_oficial/" target="_blank" class="text-md text-center underline flex gap-2 items-center">
                    <img src="assets/icons/icon-instagram-header.svg" alt="logo instagram" class="w-6 h-6 md:w-4 md:h-4"> Instagram
                </a>
            </div>
        </div>        
    
        <div class="flex w-full md:w-[calc(100%/4)] h-full flex-col gap-4">
            <span class="text-md font-medium">
                Galeria
            </span>
            
            <div class="grid grid-cols-3 gap-1">
                @for (foto of fotos; track $index) {
                    <img [src]="'assets/images/porque-itsp-' + (foto + 1) + '.jpg'" class="w-full h-16 rounded-md object-cover">
                }
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center h-12 bg-primary w-full absolute bottom-0">
        <span class="text-sm text-center">ITSP - Instituto Técnico São Paulo © 2025 • Todos os direitos reservados • CNPJ: 44.595.159/0001-71</span>
    </div>

</div>