<div class="bg-linear-140 from-[#051E22] to-[#5A944D] flex flex-col gap-12 items-center p-8"
    [style]="{'box-shadow': '0 4px 6px 0 hsla(0, 0%, 0%, 0.2)'}">
    
    <div class="flex flex-col gap-8">
        <h2 class="uppercase font-extrabold text-4xl text-white">O que falam de nós?</h2>
    
        <hr class="text-primary w-60 h-4">
    </div>
    
    <!-- Elfsight Google Reviews | Untitled Google Reviews -->
    <div class="elfsight-app-a36fa6cc-8cc8-4c1c-a4e5-d3b5bd95202e" data-elfsight-app-lazy></div>


</div>

<div class="flex gap-12 items-center justify-center p-8 h-[57rem]">

    <div class="flex gap-4 w-[28%] relative h-full">

        <div [class]="'border-4 border-primary rounded-md h-80 absolute top-0 right-0'"
            [style]="{'box-shadow': '0 4px 6px 0 hsla(0, 0%, 0%, 0.2)'}">
            <img [src]="'assets/images/Depoimento-1.jpg'" class="w-full h-full object-cover">
        </div>

        <div [class]="'rounded-md h-80 absolute top-40 left-0'">
            <img [src]="'assets/images/Depoimento-2.jpg'" class="w-full h-full object-cover">
        </div>

        <div [class]="'rounded-md h-80 absolute top-[23rem] right-0'">
            <img [src]="'assets/images/Depoimento-3.jpg'" class="w-full h-full object-cover">
        </div>

        <div [class]="'rounded-md h-80 absolute top-[33rem] left-0'">
            <img [src]="'assets/images/Depoimento-4.jpg'" class="w-full h-full object-cover">
        </div>

    </div>

    <iframe 
        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1027439255262295%2F&show_text=false&width=267&t=0" 
        class="w-[30rem] h-full"
        style="border:none;overflow:hidden" 
        scrolling="no" 
        frameborder="0" 
        allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
        allowFullScreen="true">
    </iframe>
</div>
