<div class="flex gap-12 w-full relative rounded-lg bg-white z-20"
[style]="{'box-shadow': '0 4px 18px 0 hsla(0, 0%, 0%, 0.2)'}">

    <form 
        [formGroup]="form" 
        class="flex flex-col w-full xl:w-1/2 p-8">

        <span class="font-black text-2xl lg:text-4xl text-center text-black">Entraremos em contato com você</span>

        <!-- Nome -->
        <div class="flex flex-col mt-6">
            <mat-form-field class="flex-auto" appearance="outline">

                <input matInput type="text" formControlName="nome" placeholder="Nome">
                <mat-error *ngIf="form?.get('nome')?.touched && form?.get('nome')?.errors">
                    Nome inválido
                </mat-error>

                <!-- Prefix - Nome icon -->
                <mat-icon fontSet="material-symbols-rounded" matPrefix class="icon-size-5">format_align_left</mat-icon>

            </mat-form-field>
        </div>

        <!-- Email -->
        <div class="flex flex-col mt-4">
            <mat-form-field class="flex-auto" appearance="outline">

                <input matInput type="text" formControlName="email" placeholder="E-mail">
                <mat-error *ngIf="form?.get('email')?.touched && form?.get('email')?.errors">
                    E-mail inválido
                </mat-error>

                <!-- Prefix - Email icon -->
                <mat-icon fontSet="material-symbols-rounded" matPrefix class="icon-size-5">mail</mat-icon>

            </mat-form-field>
        </div>

        <!-- Celular -->
        <div class="flex flex-col mt-4">
            <mat-form-field class="flex-auto" appearance="outline">

                <input matInput type="text" formControlName="celular" placeholder="Celular" [mask]="mask">
                <mat-error *ngIf="form?.get('celular')?.touched && form?.get('celular')?.errors">
                    Número de telefone inválido
                </mat-error>

                <!-- Prefix - Celular icon -->
                <mat-icon fontSet="material-symbols-rounded" matPrefix class="icon-size-5">smartphone</mat-icon>

            </mat-form-field>
        </div>

        <div class="flex flex-col md:flex-row gap-4">            

            <!-- Estado -->
            <div class="flex flex-col mt-4 w-full md:w-2/4">
                <mat-form-field class="flex-auto" appearance="outline">

                    <mat-select formControlName="uf" placeholder="Estado">
                        <!-- Options -->
                         @for (estado of estados; track $index) {
                             <mat-option [value]="estado.sigla">{{ estado.nome }}</mat-option>
                         }
                    </mat-select>

                    <!-- Prefix - Perfil icon -->
                    <mat-icon fontSet="material-symbols-rounded" matPrefix class="icon-size-5">format_align_left</mat-icon>

                </mat-form-field>
            </div>            

            <!-- Cidade -->
            <div class="flex flex-col mt-0 md:mt-4 w-full">
                <mat-form-field class="flex-auto" appearance="outline">

                    <mat-select formControlName="cidade" placeholder="Cidade">
                        <!-- Options -->
                         @for (cidade of cidades; track $index) {
                             <mat-option [value]="cidade.nome">{{ cidade.nome }}</mat-option>
                         }
                    </mat-select>

                    <!-- Prefix - Perfil icon -->
                    <mat-icon fontSet="material-symbols-rounded" matPrefix class="icon-size-5">format_align_left</mat-icon>

                </mat-form-field>
            </div>
        </div>

        <button class="w-52 font-title font-medium text-sm group relative h-12 overflow-hidden overflow-x-hidden rounded-full bg-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer mt-4">
            
            @if (!loading) {
                <span class="relative z-10 font-medium">Solicitar atendimento</span>
            } @else {
                <mat-icon fontSet="material-symbols-rounded" class="animate-spin">autorenew</mat-icon> <span class="relative z-10 font-medium">Enviando</span>
            }

            <span class="absolute inset-0 overflow-hidden rounded-full">
                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
            </span>

        </button>

    </form>

    <div 
        class="xl:flex hidden flex-col absolute items-center w-1/2 h-96 2xl:h-[32rem] p-8 rounded-lg top-28 2xl:top-4 -right-12" 
        [style]="'background-image:url(assets/images/Telemarketing.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;'"></div>

</div>