.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 1rem !important;
}

.mat-mdc-text-field-wrapper {
    border-radius: 1rem !important;
    background-color: white !important;
    border-bottom: none !important;
}