<section class="embla relative">
    <div class="embla__viewport" emblaCarousel [options]="options" [subscribeToEvents]="subscribeToEvents" (emblaChange)="onEmblaChange($event, emblaRef()?.emblaApi!)">
        <div class="embla__container">
            <div class="embla__slide bg-linear-140 from-[#dbe9ea] to-[#7dc387]">
                <div class="embla__slide__number p-8 px-10">

                    <div class="flex flex-col items-center md:items-start gap-4 w-full md:w-1/2 mt-20 md:mt-0" [@fadeInUpOnEnter]="selectedIndex() === 0 ? 'in' : 'out'">
                        <div class="flex flex-col space-y-3">
                            <div class="font-medium text-2xl text-center lg:text-start md:text-3xl lg:text-5xl">
                                Transforme seu <span class="font-black text-tertiary text-2xl md:text-3xl lg:text-5xl">futuro</span> com cursos técnicos de qualidade!
                            </div>
                
                            <span class="text-sm text-gray-800 font-medium text-center lg:text-start">Faça agora o seu cadastro e garanta uma oferta super especial para se matricular.</span>
                        </div>

                        <button class="text-sm group relative h-12 w-52 overflow-hidden overflow-x-hidden rounded-full bg-linear-65 from-[#65A322] to-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer">
                            <span class="relative z-10 font-medium">Inscreva-se agora</span>
                            <span class="absolute inset-0 overflow-hidden rounded-full">
                                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                            </span>
                        </button>
                    </div>

                    <div class="w-full md:w-auto flex justify-center">
                        <div class="ml-4 xl:mt-16 2xl:mt-4 grid items-start gap-[30px] relative z-10 h-full" [@slideInRightOnEnter]="selectedIndex() === 0 ? 'in' : 'out'" [style]="{'grid-template-columns': '1fr 1fr'}">
    
                            <div class="w-[130px] h-[180px] md:w-[160px] md:h-[200px] lg:w-[250px] lg:h-[300px] 2xl:w-[296px] 2xl:h-[331px] bg-primary rounded-tr-[50px] rounded-bl-[90px]" [style]="'background-image:url(assets/images/Enfermeira.png); background-repeat: no-repeat; background-size: cover;'"></div>
    
                            <div class="w-[152px] h-[210px] md:w-[150px] md:h-[225px] lg:w-[200px] lg:h-[230px] 2xl:w-[250px] 2xl:h-[380px] bg-tertiary rounded-tl-[50px] rounded-br-[90px] my-[80px]" [style]="'background-image:url(assets/images/Radiologista.png); background-repeat: no-repeat; background-size: cover;'"></div>
    
                        </div>
                    </div>

                </div>
            </div>

            <div class="embla__slide bg-linear-90 from-[#FFC670] to-[#B0D685]">
                <div class="embla__slide__number gap-4 p-8 px-10">

                    <div class="flex flex-col items-center md:items-start gap-4 w-full md:w-1/2" [@slideInLeftOnEnter]="selectedIndex() === 1 ? 'in' : 'out'">
                        <div class="flex flex-col space-y-3">
                            <div class="font-medium text-center lg:text-start text-2xl md:text-3xl lg:text-5xl">
                                Aulas práticas, conteúdo atualizado e <span class="font-black text-tertiary text-2xl md:text-3xl lg:text-5xl">certificação reconhecida</span>
                            </div>
                
                            <span class="text-sm text-gray-800 font-medium text-center lg:text-start">Desenvolva habilidades reais com uma formação que valoriza o seu crescimento pessoal e profissional.</span>
                        </div>

                        <button class="text-sm group relative h-12 w-52 overflow-hidden overflow-x-hidden rounded-full bg-linear-65 from-[#65A322] to-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer">
                            <span class="relative z-10 font-medium">Inscreva-se agora</span>
                            <span class="absolute inset-0 overflow-hidden rounded-full">
                                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                            </span>
                        </button>
                    </div>

                    <div class="z-10 h-full self-center">

                        <div class="flex justify-center h-full w-56">
                            <img src="assets/images/Enfermeiro.png" alt="Enfermeiro" class="absolute bottom-0 h-72 lg:h-[20rem] 2xl:h-[30rem]" [@fadeInUpOnEnter]="selectedIndex() === 1 ? 'in' : 'out'">
                        </div>

                    </div>

                </div>
            </div>

            <div class="embla__slide bg-linear-65 from-[#4a996c] to-[#a9d67a]">
                <div class="embla__slide__number p-8 px-10">

                    <div class="flex flex-col items-center md:items-start gap-4 w-full md:w-1/2" [@fadeInUpOnEnter]="selectedIndex() === 2 ? 'in' : 'out'">
                        <div class="flex flex-col space-y-3">
                            <div class="font-medium text-center lg:text-start text-2xl md:text-3xl lg:text-5xl">
                                <span class="font-black text-[#bf861b] text-2xl md:text-3xl lg:text-5xl">Inscreva-se agora</span> e comece a construir sua carreira hoje mesmo!
                            </div>
                
                            <span class="text-sm text-gray-800 font-medium text-center lg:text-start">As vagas são limitadas! Escolha seu curso, garanta sua matrícula online e dê o primeiro passo rumo ao seu futuro profissional.</span>
                        </div>

                        <button class="text-sm group relative h-12 w-52 overflow-hidden overflow-x-hidden rounded-full bg-linear-65 from-[#65A322] to-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer">
                            <span class="relative z-10 font-medium">Inscreva-se agora</span>
                            <span class="absolute inset-0 overflow-hidden rounded-full">
                                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                            </span>
                        </button>
                    </div>

                    <div class="w-full md:w-auto flex justify-center md:items-start mt-8">
                        <div class="md:ml-4 relative z-10 h-full flex items-center" [@fadeInOnEnter]="selectedIndex() === 2 ? 'in' : 'out'">
    
                            <div class="bg-primary absolute -z-10 left-4 top-4 sm:top-4 2xl:top-5 h-52 lg:h-72 w-full lg:w-[432px]"></div>
                            <img src="assets/images/grupo-estudantes.png" alt="Grupo de estudantes" class="h-52 lg:h-72">
    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="embla__controls absolute top-20 right-0">
        <div class="embla__dots flex flex-col">
            @for (item of scrollSnaps(); track item) {
                <button [ngClass]="'embla__dot'.concat($index === selectedIndex() ? ' embla__dot--selected' : '')" type="button" (click)="scrollTo($index)"></button>
            }
        </div>
    </div>
</section>