<section class="embla relative">
    <div class="embla__viewport" emblaCarousel [options]="options" [plugins]="plugins" [subscribeToEvents]="subscribeToEvents" (emblaChange)="onEmblaChange($event, emblaRef()?.emblaApi!)">
        <div class="embla__container">
            <div class="embla__slide">
                <div class="embla__slide__number p-8">

                    
                <iframe 
                    src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1027439255262295%2F&show_text=false&width=267&t=0" 
                    class="rounded-lg"
                    style="border:none;overflow:hidden" 
                    scrolling="no" 
                    frameborder="0" 
                    allowfullscreen="true" 
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                    allowFullScreen="true">
                </iframe>

                </div>
            </div>

            <div class="embla__slide">
                <div class="embla__slide__number gap-4">

                    <iframe 
                        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1279546936361928%2F&show_text=false&width=267&t=0" 
                        class="rounded-lg"
                        style="border:none;overflow:hidden" 
                        scrolling="no" 
                        frameborder="0" 
                        allowfullscreen="true" 
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                        allowFullScreen="true">
                    </iframe>

                </div>
            </div>

            <div class="embla__slide">
                <div class="embla__slide__number p-8">

                    <iframe 
                        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F886602330187884%2F&show_text=false&width=267&t=0" 
                        class="rounded-lg"
                        style="border:none;overflow:hidden" 
                        scrolling="no" 
                        frameborder="0" 
                        allowfullscreen="true" 
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                        allowFullScreen="true">
                    </iframe>

                </div>
            </div>

            <div class="embla__slide">
                <div class="embla__slide__number p-8">

                    <iframe 
                        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F390712050711642%2F&show_text=false&width=267&t=0" 
                        class="rounded-lg"
                        style="border:none;overflow:hidden" 
                        scrolling="no" 
                        frameborder="0" 
                        allowfullscreen="true" 
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                        allowFullScreen="true">
                    </iframe>

                </div>
            </div>
        </div>
    </div>

    <div class="embla__controls absolute top-20 right-0">
        <div class="embla__dots flex flex-col">
            @for (item of scrollSnaps(); track item) {
                <button [ngClass]="'embla__dot'.concat($index === selectedIndex() ? ' embla__dot--selected' : '')" type="button" (click)="scrollTo($index)"></button>
            }
        </div>
    </div>
</section>