<div class="flex flex-col md:flex-row gap-12 justify-center items-center md:items-baseline">
    <section class="embla w-1/2 relative">
        <div class="embla__viewport" emblaCarousel [options]="options" [subscribeToEvents]="subscribeToEvents" (emblaChange)="onEmblaChange($event, emblaRef()?.emblaApi!)">
            <div class="embla__container">
                <div class="embla__slide">
                    <div class="embla__slide__img">
                        
                    <iframe 
                        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1027439255262295%2F&show_text=false&width=267&t=0" 
                        class="rounded-lg h-full"
                        style="border:none;overflow:hidden" 
                        scrolling="no" 
                        frameborder="0" 
                        allowfullscreen="true" 
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                        allowFullScreen="true">
                    </iframe>
    
                    </div>
                </div>
    
                <div class="embla__slide">
                    <div class="embla__slide__img gap-4">
    
                        <iframe 
                            src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1279546936361928%2F&show_text=false&width=267&t=0" 
                            class="rounded-lg h-full"
                            style="border:none;overflow:hidden" 
                            scrolling="no" 
                            frameborder="0" 
                            allowfullscreen="true" 
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                            allowFullScreen="true">
                        </iframe>
    
                    </div>
                </div>
    
                <div class="embla__slide">
                    <div class="embla__slide__img">
    
                        <iframe 
                            src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F886602330187884%2F&show_text=false&width=267&t=0" 
                            class="rounded-lg h-full"
                            style="border:none;overflow:hidden" 
                            scrolling="no" 
                            frameborder="0" 
                            allowfullscreen="true" 
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                            allowFullScreen="true">
                        </iframe>
    
                    </div>
                </div>
    
                <div class="embla__slide">
                    <div class="embla__slide__img">
    
                        <iframe 
                            src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F390712050711642%2F&show_text=false&width=267&t=0" 
                            class="rounded-lg h-full"
                            style="border:none;overflow:hidden" 
                            scrolling="no" 
                            frameborder="0" 
                            allowfullscreen="true" 
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                            allowFullScreen="true">
                        </iframe>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div class="embla__controls absolute top-20 right-0">
            <div class="embla__dots flex flex-col">
                @for (item of scrollSnaps(); track item) {
                    <button [ngClass]="'embla__dot'.concat($index === selectedIndex() ? ' embla__dot--selected' : '')" type="button" (click)="scrollTo($index)"></button>
                }
            </div>
        </div>
    </section>    

    <div class="self-center relative flex flex-col gap-4 items-center justify-center w-72 h-60 p-8 shadow-lg rounded-md border-b border-primary bg-white z-10"
        [style]="{'box-shadow': '0 4px 6px 0 hsla(0, 0%, 0%, 0.2)'}"
        [@fadeInUpOnEnter]="animateCard" 
        (visible)="animateCard = 'in'"
        appAnimateOnScroll>
        @switch (selectedIndex()) {
            @case (0) {
                <span class="text-sm text-gray-500 text-center">
                    "Os professores aqui dá o maior apoio, desde a direção, todo o pessoal tá de parabéns..."
                </span>
                <span class="text-sm text-primary">
                    - Tati
                </span>

            }
            @case (1) {
                <span class="text-sm text-gray-500 text-center">
                    "Amei todo mundo da coordenação, eles foram simplesmente maravilhosos, me atenderam super bem, me explicaram tudo, e aqui tô aqui, realizando esse sonho agora, depois de tanto tempo querendo realizá-lo..."
                </span>
                <span class="text-sm text-primary">
                    - Sirlene
                </span>
            }
            @case (2) {
                <span class="text-sm text-gray-500 text-center">
                    "To amando a escola! Os professores são maravilhosos, tira suas dúvidas quantas vezes você precisar; A direção sempre pronta pra atender, pra tá ali junto com você..."
                </span>
                <span class="text-sm text-primary">
                    - Valdirene
                </span>
            }
            @case (3) {
                <span class="text-sm text-gray-500 text-center">
                    "Chegando aqui no Instituto São Paulo, fui bem recebida, muito bem acolhida pelas professoras, pela direção..."
                </span>
                <span class="text-sm text-primary">
                    - Aparecida
                </span>
            }
        }
        
        <img src="assets/images/quotation-right-mark-svgrepo-com-green.svg" class="-scale-x-[1] z-10 absolute bottom-4 right-4 w-8 h-8">
    </div>

</div>