<section class="w-full flex gap-8 items-center justify-center px-8 lg:px-24 xl:px-48 custom-padding">

    <div class="w-full">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            @for (item of videos; track $index) {
                <div class="h-72 md:h-64 2xl:h-72 image rounded-2xl relative" [style]="{'background-image': 'url(' + item.img + ')'}">
                    <div class="absolute top-0 right-0 h-full w-full bg-linear-180 from-[#0E9549]/15 to-[#0E9549]/70 z-10 rounded-2xl"></div>
                    
                    <div 
                        class="rounded-full w-16 h-16 absolute flex items-center justify-center bg-white border border-tertiary top-4 left-10 text-tertiary shadow-md z-20 cursor-pointer hover:shadow-[0_8px_8px_rgba(0,0,0,0.35)]"
                        (click)="openDialogVideo(item.video)">
                        <mat-icon fontSet="material-symbols-rounded" class="symbol-filled w-8! h-8! text-[2rem]!">play_arrow</mat-icon>
                    </div>

                    <div class="absolute bottom-4 left-10 flex flex-col gap-2 text-sm font-epilogue text-white z-20">
                        <span class="font-medium">
                            {{ item.nome }}
                        </span>
                        <span class="font-normal">
                            {{ '"' + item.depoimento + '"' }}
                        </span>
                    </div>
                </div>
            }

        </div>

    </div>

</section>