@import "tailwindcss";

@layer base {
    :root {
        --color-primary: #005200;
        --color-secondary: #648d00;
        --color-secondary-100: #a7b682;
        --color-tertiary: #f18500;
        --color-tertiary-100: #e9b87b;
        --color-neutral: #ffca01;
        --color-neutral-variant: #240c00;
        --color-danger: #f0050f;
    }

    .fa,
    .fas,
    .far,
    .fal,
    .fab {
        @apply block;
    }
}

@layer utilities {
    .bg-primary {
        background-color: var(--color-primary) !important;
    }

    .text-primary {
        color: var(--color-primary) !important;
    }

    .border-primary {
        border-color: var(--color-primary) !important;
    }

    .bg-secondary {
        background-color: var(--color-secondary) !important;
    }

    .text-secondary {
        color: var(--color-secondary) !important;
    }

    .border-secondary {
        border-color: var(--color-secondary) !important;
    }

    .bg-secondary-100 {
        background-color: var(--color-secondary-100) !important;
    }

    .text-secondary-100 {
        color: var(--color-secondary-100) !important;
    }

    .border-secondary-100 {
        border-color: var(--color-secondary-100) !important;
    }

    .bg-tertiary-100 {
        background-color: var(--color-tertiary-100) !important;
    }

    .text-tertiary-100 {
        color: var(--color-tertiary-100) !important;
    }

    .border-tertiary-100 {
        border-color: var(--color-tertiary-100) !important;
    }

    .bg-tertiary {
        background-color: var(--color-tertiary) !important;
    }

    .text-tertiary {
        color: var(--color-tertiary) !important;
    }

    .border-tertiary {
        border-color: var(--color-tertiary) !important;
    }

    .bg-neutral {
        background-color: var(--color-neutral) !important;
    }

    .text-neutral {
        color: var(--color-neutral) !important;
    }

    .border-neutral {
        border-color: var(--color-neutral) !important;
    }

    .bg-neutral-variant {
        background-color: var(--color-neutral-variant) !important;
    }

    .text-neutral-variant {
        color: var(--color-neutral-variant) !important;
    }

    .border-neutral-variant {
        border-color: var(--color-neutral-variant) !important;
    }

    .bg-danger {
        background-color: var(--color-danger) !important;
    }

    .text-danger {
        color: var(--color-danger) !important;
    }

    .border-danger {
        border-color: var(--color-danger) !important;
    }

    .animate-slide-down {
        animation: slideDown 0.6s ease-out;
    }

    .animate-fade-in {
        animation: fade-in 0.8s ease-out;
    }

    .animate-fade-in-left {
        animation: fade-in-left 0.8s ease-out;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}