@import "tailwindcss";

@layer base {
    :root {
        --color-primary: #005200;
        --color-secondary: #8BC34A;
        --color-tertiary: #f18500;
        --color-blue: #0b1225;
        --color-blue-variant: #17254E;
        --color-neutral: #F5F5F5;
        --color-neutral-variant: #9E9E9E;
        --color-danger: #f0050f;

        --font-title: 'Nunito', Roboto, "Helvetica Neue", sans-serif;
        --font-body: 'Open Sans', Roboto, "Helvetica Neue", sans-serif --font-epilogue: 'Epilogue', Roboto, "Helvetica Neue", sans-serif
    }

    .fa,
    .fas,
    .far,
    .fal,
    .fab {
        @apply block;
    }
}

@layer utilities {
    .bg-primary {
        background-color: var(--color-primary) !important;
    }

    .text-primary {
        color: var(--color-primary) !important;
    }

    .border-primary {
        border-color: var(--color-primary) !important;
    }

    .bg-secondary {
        background-color: var(--color-secondary) !important;
    }

    .text-secondary {
        color: var(--color-secondary) !important;
    }

    .border-secondary {
        border-color: var(--color-secondary) !important;
    }

    .bg-blue {
        background-color: var(--color-blue) !important;
    }

    .text-blue {
        color: var(--color-blue) !important;
    }

    .border-blue {
        border-color: var(--color-blue) !important;
    }

    .bg-blue-variant {
        background-color: var(--color-blue-variant) !important;
    }

    .text-blue-variant {
        color: var(--color-blue-variant) !important;
    }

    .border-blue-variant {
        border-color: var(--color-blue-variant) !important;
    }

    .bg-tertiary {
        background-color: var(--color-tertiary) !important;
    }

    .text-tertiary {
        color: var(--color-tertiary) !important;
    }

    .border-tertiary {
        border-color: var(--color-tertiary) !important;
    }

    .bg-neutral {
        background-color: var(--color-neutral) !important;
    }

    .text-neutral {
        color: var(--color-neutral) !important;
    }

    .border-neutral {
        border-color: var(--color-neutral) !important;
    }

    .bg-neutral-variant {
        background-color: var(--color-neutral-variant) !important;
    }

    .text-neutral-variant {
        color: var(--color-neutral-variant) !important;
    }

    .border-neutral-variant {
        border-color: var(--color-neutral-variant) !important;
    }

    .bg-danger {
        background-color: var(--color-danger) !important;
    }

    .text-danger {
        color: var(--color-danger) !important;
    }

    .border-danger {
        border-color: var(--color-danger) !important;
    }

    .animate-slide-down {
        animation: slideDown 0.6s ease-out;
    }

    .animate-fade-in {
        animation: fade-in 0.8s ease-out;
    }

    .animate-fade-in-left {
        animation: fade-in-left 0.8s ease-out;
    }


    .font-title {
        font-family: var(--font-title);
    }

    .font-body {
        font-family: var(--font-body);
    }

    .font-epilogue {
        font-family: var(--font-epilogue);
    }

    // Icons
    .symbol-filled {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24 !important;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}