<div class="flex flex-col md:flex-row justify-between gap-12 pb-8 md:pb-0 bg-white shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.2)]">

    <img src="assets/images/foto-matricula.jpg" class="w-full md:w-1/2">

    <div class="flex flex-col w-full md:w-1/2 justify-center items-center md:items-start gap-8">

        <div class="flex flex-col items-center md:items-start  font-epilogue p-4 md:p-0">
            <h1 class="font-bold text-2xl md:text-4xl">Chegou a hora de <br><span class="font-black text-secondary text-2xl md:text-4xl">mudar o seu futuro</span></h1>
            

            <p class="text-sm text-gray-500 text-center md:text-start">Faça agora o seu cadastro e garanta uma oferta super especial para se matricular em qualquer uma de nossas unidades espalhadas pelo Brasil.</p>
        </div>

        <button class="w-52 font-title font-medium text-sm group relative h-12 overflow-hidden overflow-x-hidden rounded-full bg-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer" [routerLink]="['./matricula']">
            <span class="relative z-10 font-medium">Inscreva-se agora</span>
            <span class="absolute inset-0 overflow-hidden rounded-full">
                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
            </span>
        </button>

    </div>

</div>