.polka-dots {
    background-image: radial-gradient(
        #8BC34A 3px,
        transparent 3px
    );
    background-size: 20px 20px;
}

.image {
    background-repeat: no-repeat; 
    background-size: cover;
}