@if (!isMobile()) {
    <header>
        <app-layout-header (setIsticky)="setIsticky($event)"></app-layout-header>
    </header>
}

<section 
    class="h-[calc(100vh - 7.5rem)] overflow-x-hidden"
    [ngClass]="{
        'relative top-20': isSticky,
        'pb-20': isMobile()
    }">
    <router-outlet></router-outlet>
    <app-layout-footer class="relative z-10"></app-layout-footer>

    <a
        href="https://wa.me/5517996616616?text=Olá, tudo bem? Vim através do site do ITSP e gostaria de mais informações." 
        target="_blank"
        aria-label="WhatsApp"
        class="fixed bottom-8 right-8 z-50 bg-green-500 p-5 rounded-full shadow-lg hover:scale-110 transition-transform"
        [ngClass]="{
            'bottom-28': isMobile()
        }"
    >
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp" class="w-8 h-8" />
    </a>

</section>

@if (isMobile()) {
    <app-layout-navigation class="relative z-50"></app-layout-navigation>
}
