<div class="w-full h-[40rem] md:h-[30rem] p-4 px-8 pb-0 lg:px-24 xl:px-12 2xl:px-48 relative flex flex-col md:flex-row justify-center items-center gap-8 bg-linear-90 from-[#FFC670] to-[#B0D685]">

    <div class="w-full md:w-1/2 h-full flex flex-col justify-center gap-4">
        <h1 class="font-medium text-tertiary text-xl md:text-2xl">{{ curso()?.nome }} - ITSP</h1>
        <p class="font-black text-primary text-2xl lg:text-4xl uppercase">Campo de estágio garantido</p>
        <p class="text-sm text-gray-700">Aprenda com os melhores e comece a trabalhar ainda durante o curso!</p>

        <button class="font-title font-medium text-sm group relative h-12 w-80 overflow-hidden overflow-x-hidden rounded-full bg-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer" [routerLink]="['../../matricula']">
            <span class="relative z-10 font-medium">Quero me matricular</span>
            <span class="absolute inset-0 overflow-hidden rounded-full">
                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
            </span>
        </button>
    
        <div class="flex gap-4 w-96 h-12">
            <div class="flex relative w-[12.5rem]">
                @for (avatar of avatares(); track $index; let i = $index) {
                    <div 
                        class="w-12 h-12 rounded-full border border-primary absolute" 
                        [style]="{
                            'left': (i * 30) + 'px',
                            'background-image': 'url(assets/avatar/image-' + avatar + '.jpg)',
                            'background-repeat': 'no-repeat',
                            'background-size': 'cover'
                        }">
                    </div>
                }
    
            </div>
            
            <span class="text-md font-medium text-primary">+ de 500 alunos satisfeitos</span>
            
        </div>
    </div>

    <div class="z-10 h-full self-center">

        <div class="flex justify-center h-full w-72">
            <img [src]="header()?.storageKey" alt="Enfermeiro" class="absolute bottom-0 h-[17rem] md:h-[25rem] lg:h-[20rem] xl:h-[25rem] 2xl:h-[30rem]">
        </div>

        <div class="w-6 h-6 rounded-full absolute bottom-40 md:top-8 bg-primary"></div>
        <div class="w-4 h-4 rounded-full absolute bottom-4 right-8 lg:right-48 2xl:right-72 bg-tertiary"></div>

        <div class="w-[152px] h-[210px] md:w-[150px] md:h-[225px] lg:w-[170px] lg:h-[253px] 2xl:w-[250px] 2xl:h-[380px] my-[80px] polka-dots absolute -bottom-4 -right-4 -z-10"></div>

    </div>

</div>

<div class="w-full flex flex-col items-center gap-8 py-8 px-8 lg:px-24 xl:px-12 2xl:px-48 custom-padding">

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        @for (item of header()?.cards; track $index; let i = $index;) {
            <div class="w-72 h-80">
                <app-card [data]="item" [index]="i"></app-card>
            </div>
        }
    </div>

</div>

<div class="flex w-full flex-col-reverse md:flex-row justify-between items-center gap-12 mt-8">

    <div class="w-full md:w-1/2 flex justify-center md:justify-end md:self-end">
        <img [src]="atuacao()?.storageKey" class="h-[25rem] md:h-full custom-height">
    </div>

    <div class="flex flex-col w-full md:w-1/2 justify-center items-center md:items-start gap-8 pb-6 py-8 px-8 xl:pb-0">

        <div class="flex flex-col space-y-3 items-center md:items-start">
            <h1 class="font-medium text-center md:text-start text-2xl md:text-4xl xl:text-5xl">MERCADO DE TRABALHO</h1>
            <h2 class="font-black text-secondary text-2xl md:text-4xl xl:text-5xl">Alta empregabilidade</h2>

            <p class="text-sm text-gray-500">Mais de 70% dos alunos empregados logo após o curso!</p>
            
            <span class="text-sm font-bold text-gray-700">Atuação em</span>
        </div>

        <div class="w-auto flex flex-col gap-2 items-start">
            @for (item of atuacao()?.cards; track $index) {
                <div class="flex gap-2 items-center mt-2">
                    <mat-icon fontSet="material-symbols-rounded" class="text-secondary">task_alt</mat-icon>
                    <span class="text-sm font-medium text-gray-700">{{ item.titulo }}</span>
                </div>
                @if (item.descricao) {
                    <span class="text-sm text-gray-700">{{ item.descricao }}</span>
                }
            }
        </div>

    </div>

</div>

<div class="w-full bg-white flex flex-col items-center gap-8 py-8 px-8 lg:px-24 xl:px-48 custom-padding">

    <h1 class="font-black text-primary text-2xl md:text-4xl uppercase text-center">O que você vai aprender</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
        @for (item of aprendizado()?.cards; track $index; let i = $index;) {
            <div class="w-72 h-[22rem]">
                <app-card [data]="item" [index]="i + 1"></app-card>
            </div>
        }
    </div>

    <button class="font-title font-medium text-sm group relative h-12 w-80 overflow-hidden overflow-x-hidden rounded-full bg-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer" [routerLink]="['../../matricula']">
        <span class="relative z-10 font-medium">Quero me matricular</span>
        <span class="absolute inset-0 overflow-hidden rounded-full">
            <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
        </span>
    </button>

</div>

<div class="flex w-full flex-col md:flex-row justify-between items-center gap-12 lg:gap-4 bg-linear-140 from-[#65A322] to-[#0E9549]">

    <div class="flex flex-col w-full md:w-1/2 justify-center items-center md:items-end gap-8 text-white py-8 px-8 lg:px-0">

        <h1 class="font-medium text-2xl md:text-4xl uppercase text-center md:text-start">Duração do curso</h1>

        <div class="flex flex-col gap-4">

            @for (item of duracao()?.cards; track $index; let i = $index;) {
                <div class="w-full md:w-[20rem] lg:w-[30rem] h-40 lg:h-32">
                    <app-card [data]="item" [index]="i"></app-card>
                </div>
            }

        </div>

    </div>

    <div class="w-full md:w-1/2 flex justify-center md:justify-start md:self-end">
        <img [src]="duracao()?.storageKey" class="h-[25rem] md:h-full lg:h-[40rem] custom-height">
    </div>

</div>

<div class="w-full bg-white flex flex-col items-center gap-8 py-8 px-8 lg:px-24 xl:px-12 2xl:px-48 custom-padding">

    <h1 class="font-black text-primary text-2xl md:text-4xl uppercase text-center">Estrutura do ITSP</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        @for (item of cardsEstrutura; track $index; let i = $index;) {
            <div class="w-72 h-72">
                <app-card [data]="item" [index]="i"></app-card>
            </div>
        }
    </div>

    <app-curso-carousel></app-curso-carousel>

</div>

<div class="w-full flex flex-col items-center gap-8 py-8 px-8 lg:px-24 xl:px-48 custom-padding">

    <span class="font-black text-primary text-2xl md:text-4xl">Veja o que Nossos Alunos Estão Dizendo</span>

    <app-curso-avaliacoes class="w-full"></app-curso-avaliacoes>

</div>

<div class="w-full flex flex-col md:flex-row items-center gap-8 py-8 px-8 lg:px-24 xl:px-48 h-[50rem] md:h-[35rem] custom-padding relative">

    <div class="absolute img-inscrevase -z-10 left-0 top-0 w-full h-full" [style]="'background-image:url('+ mensalidade()?.storageKey +'); background-repeat: no-repeat; background-size: cover; background-position: center;'"></div>
    
    <div class="w-full md:w-1/2 h-full flex flex-col justify-center gap-4 text-center md:text-start">
        <h1 class="font-medium text-white text-xl md:text-4xl">INVESTIMENTO E FACILIDADES</h1>
        
        <div class="flex gap-2 items-center justify-center md:justify-start">
            <mat-icon fontSet="material-symbols-rounded" class="text-secondary">task_alt</mat-icon>
            <span class="text-sm text-white">Matrículas abertas por tempo limitado</span>
        </div>
    </div>
        
    <div class="flex flex-col items-center justify-center h-full w-full md:w-1/2 bg-white rounded-2xl p-8 md:p-16 gap-2 border-8">
        <h1 class="font-black text-center text-primary text-4xl uppercase">Mensalidades acessíveis a partir de R$350,00</h1>
        <p class="text-sm text-gray-700 text-center">Clique no botão abaixo e fale com um de nossos consultores</p>
        <p class="text-sm text-gray-700">Parcelamento facilitado</p>
        <p class="text-sm text-gray-700 text-center">Matrícula simplificada e atendimento humanizado</p>

        <button class="font-title font-medium text-sm group relative h-12 md:w-80 overflow-hidden overflow-x-hidden rounded-full bg-[#0E9549] px-8 py-2 text-neutral-50 cursor-pointer" [routerLink]="['../../matricula']">
            <span class="relative z-10 font-medium">Garanta sua vaga agora mesmo!</span>
            <span class="absolute inset-0 overflow-hidden rounded-full">
                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-secondary transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
            </span>
        </button>
    </div>

</div>