// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './styles/styles_theme-colors' as my-theme;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
  
html, body { height: 100%; width: 100%; background-color: #F5F5F5; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom .mat-mdc-dialog-surface {
    border-radius: 1rem !important;
  }
